<% unless user_signed_in? %>
	<div class="hero-unit">	
		<h1>Welcome to Conor's Sweet Ass Website!</h1>
		<p>
			You've found the most awesomest site on the interweb
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>