<h1>About</h1>
<p>
	Conor's website is a place where you can post all your favorite pictures.  Find me on 
	<%= link_to "Facebook", "http://www.facebook.com/conorfernandez" %>
	and
	<%= link_to "Twitter", "http://www.twitter.com/conorfernandez" %>.
</p>